<title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>

<meta name="author" content="{{ site.author }}">
<meta name="description" content="{% if page.description %}{{ page.description}}{% else %}{{ site.description }}{% endif %}">
<meta name="subject" content="{{site.title}}. {{site.description}} ">
<meta name="keywords" content="{% if page.keywords %}{{page.keywords}},{% endif %}{{site.keywords}}">

<meta name="theme-color" content="#000000">

<link rel="icon" sizes="192x192" href="{{site.cdn}}{{site.favicons}}highres-icon.png">
<link rel="shortcut icon" href="{{ site.cdn }}{{site.favicon}}favicon.ico"> 

<link rel="author" href="humans.txt">

