<link rel="manifest" href="manifest.json">
<link rel="author" href="humans.txt">

<link rel="canonical" href="http://example.com/article/?page=2">

<link href="http://gmpg.org/xfn/11" rel="profile">
<link rel="me" href="https://google.com/profiles/thenextweb" type="text/html">
<link rel="me" href="mailto:name@example.com">
<link rel="me" href="sms:+15035550125">
<link rel=”author” href=”https://plus.google.com/116739255173599428138”/>

<link rel="webmention" href="https://example.com/webmention">
<link rel="micropub" href="{{site.url}}{{site.baseurl}}/micropub">
