
<!-- IE -->
<meta http-equiv="x-ua-compatible" content="ie=edge">
<meta name="skype_toolbar" content="skype_toolbar_parser_compatible">

<!-- IE10: Disable link highlighting upon tap (https://blogs.windows.com/buildingapps/2012/11/15/adapting-your-webkit-optimized-site-for-internet-explorer-10/) -->
<meta name="msapplication-tap-highlight" content="no">

<!-- Pinned sites (https://msdn.microsoft.com/en-us/library/dn255024(v=vs.85).aspx) -->
<meta name="application-name" content="{{site.title}}">
<meta name="msapplication-navbutton-color" content="#000">
<meta name="msapplication-tooltip" content="{{site.description}}">
<meta name="msapplication-starturl" content="{{site.url}}{{site.baseurl}}">
<meta name="msapplication-navbutton-color" content="#000">
<meta name="msapplication-window" content="width=1024;height=768">
<meta name="application-name" content="{{site.author}}"/>
<meta name="msapplication-square70x70logo" content="{{site.cdn}}{{site.70x70}}"/>
<meta name="msapplication-square150x150logo" content="{{site.cdn}}{{site.150x150}}"/>
<meta name="msapplication-wide310x150logo" content="{{site.cdn}}{{site.310x150}}"/>
<meta name="msapplication-square310x310logo" content="{{site.cdn}}{{site.310x310}}"/>
<meta name="msapplication-TileColor" content="#fff">

<meta name="msapplication-config" content="{{site.url}}{{site.baseurl}}/browserconfig.xml">
<meta name="msapplication-task-separator" content="1">
