<!-- Twitter Meta Tags -->
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:site" content="{{ site.url}}{{ site.base}}" />
  <meta name="twitter:url" content="{{ site.url}}{{ site.baseurl}}">
  <meta name="twitter:title" content="{{site.title}}">
  <meta name="twitter:description" content="{{site.description}}">
  <meta name="twitter:image" content="{{site.cdn}}{{site.profile}}">
  <meta name="twitter:site" content="@hello_diogo">
  <meta name="twitter:creator" content="@hello_diogo">