.fullwidth{
    padding: 5.5rem 2rem;
    flex: 1;
    height: 100%;
    position: relative;
    max-width: 1185px;
    margin: 0 auto;    
}

.header{
    max-width:75%;
    padding: 3rem .75rem;
}

@media screen and (max-width: 1000px) {    
    .header{
        max-width: 100%;
    }
}