---
layout: default
---
<div class="box">
    <div class="sidebar padding-nav">
        <nav class="aside">
            <div class="nav-wrap">
                <div class="list">
                    <h2>
                        {{ page.title }}
                    </h2>
                    <ul id="filter" class="filters">
                        <li >
                            <a href="javascript:void(0)" data-filter="*">
                                All
                            </a>
                        </li>
                        {% for item in site.content %}
                            {% if item.cat == page.title %}
                                {% for sub in item.sub %}
                                    <li>
                                        <a href="javascript:void(0)" data-filter=".{{ sub | slugify: 'pretty' }}">
                                            {{ sub }}
                                        </a>
                                    </li>
                                {% endfor %}
                            {% endif %}
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </nav>
        
        <section class="main">
            <div class="grid-isotope">
                {% for post in site.posts reversed %}
                    {% capture cat_filter %}{{ page.title | slugify: 'pretty' }}{% endcapture %}
                    {% if post.categories[1] == cat_filter  %}
                        {% include containers/card/post.html class="item" %}
                    {% endif %}
                {% endfor %}
            </div>
        </section>
    </div>
    <div class="back-to-top">
        <a href="#top" class="button btn-social page-scroll"><i class="fa fa-angle-up"></i></a>
        {% if page.next.url %}
        <br>
        <a class="button btn-social page-scroll" href="{{page.next.url}}"><i class="fa fa-angle-left"></i></a>
        {% endif %}
        {% if page.previous.url %}
        <br>
        <a class="button btn-social page-scroll" href="{{page.previous.url}}"><i class="fa fa-angle-right"></i></a>
        {% endif %}
    </div>
    
</div>


