<head>
  <meta charset="UTF-8">
  <link href="http://gmpg.org/xfn/11" rel="profile">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=3">
  
  <!-- HTML Meta Tags -->
  <title>Diogo Russo - Product Design</title>
  <meta name="description" content="I'm a designer, artist and storyteller, an optimist dedicated to help bringing ideas to life.">

  <!-- Google / Search Engine Tags -->
  <meta itemprop="name" content="Diogo Russo - Product Design">
  <meta itemprop="description" content="I'm a designer, artist and storyteller, an optimist dedicated to help bringing ideas to life.">
  <meta itemprop="image" content="http://res.cloudinary.com/diogorusso/image/upload/bio/R_profile.jpg">

  <!-- Facebook Meta Tags -->
  <meta property="og:url" content="http://hello.diogorusso.com">
  <meta property="og:type" content="website">
  <meta property="og:title" content="Diogo Russo - Product Design">
  <meta property="og:description" content="I'm a designer, artist and storyteller, an optimist dedicated to help bringing ideas to life.">
  <meta property="og:image" content="http://res.cloudinary.com/diogorusso/image/upload/bio/R_profile.jpg">

  <!-- Twitter Meta Tags -->
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:title" content="Diogo Russo - Product Design">
  <meta name="twitter:description" content="I'm a designer, artist and storyteller, an optimist dedicated to help bringing ideas to life.">
  <meta name="twitter:image" content="http://res.cloudinary.com/diogorusso/image/upload/bio/R_profile.jpg">

  <!-- Meta Tags Generated via http://heymeta.com -->
  <title>
    {% if page.title == "Home" %}
      {{ site.title }} {{ site.tagline }}
    {% else %}
      {{ page.title }} {{ site.title }}
    {% endif %}
  </title>

  <!-- CSS -->
  <style>
    {% capture include_to_scssify %}
      {% include main.scss %}
    {% endcapture %}
    {{ include_to_scssify | scssify }}
  </style>

  <!-- Icons -->
  <link rel="apple-touch-icon-precomposed" sizes="144x144" href="{{ site.baseurl }}public/apple-touch-icon-precomposed.png">
  <link rel="shortcut icon" href="{{ site.baseurl }}public/favicon.ico">

  <!-- RSS -->
  <link rel="alternate" type="application/atom+xml" title="{{ site.title }}" href="{{ site.baseurl }}atom.xml">

  <!-- typekit -->
  <script src="https://use.typekit.net/rvc4hsl.js" rel="preload" as="script"></script>
  <script>try{Typekit.load({ async: true });}catch(e){}</script>
</head>
