<header class="masthead" style="background:url('{{ site.cdn }}{{ page.cover }}'); background-size:cover;">
    <div class="masthead-wrap center-content">
        <h1>
                I'm Diogo Russo<br class="show-for-small-only">
        </h1>
        <h2>
            I help businesses, individuals and communities craft meaningful<br class="show-for-small-only">
            <span class="txt-rotate" data-period="1000" data-rotate="[ &quot;PRODUCTS&quot;, &quot;EXPERIENCES&quot;,&quot; MEMORIES&quot;, &quot; RELATIONSHIPS&quot;]"><span class="wrap">EXPERIENCES</span></span>
        </h2>
        <br>
        <a href="#bio" class="button btn-light">check it out <i class="fa fa-chevron-down" aria-hidden="true"></i></a>
    </div>
</header>
