<header class="masthead" style="background:url('{{ site.cdn }}{{ page.cover }}'); background-size:cover;">
    <div class="masthead-wrap center-content">
        <a href="#bio" class="page-scroll">
            <h1>
                I'm Diogo Russo<br class="show-for-small-only">
            </h1>
            <h2>
                I help businesses, individuals and communities craft meaningful<br>
                <span class="txt-rotate" data-period="1000" data-rotate="[ &quot;PRODUCTS&quot;, &quot;EXPERIENCES&quot;,&quot; MEMORIES&quot;, &quot; RELATIONSHIPS&quot;]"><span class="wrap">EXPERIENCES</span></span>
            </h2>
            <div style="position:absolute; bottom:5%; left:50%; transform:translateX(-50%); opacity:.5;"> 
                SCROLL
                {% include img/arrow.html %}
            </div>
        </a>
    </div>
</header>