<nav class="nav" role="navigation">
        <a href="{{ site.baseurl}}/">
            <img class="page-image" src={{ "/assets/img/" | prepend: site.baseurl | append : "diogo-russo.png"}} alt="{{page.title}}">
        </a>
    <ul>
        <li>
            <a href="">About</a>
        </li>
        <li>
            <a href="">Work</a>
        </li>
        <li>
            <a class="active" href="">Journal</a>
        </li>
        <li>
            <a href="">Contact</a>
        </li>
    </ul>
</nav>