<nav class="nav">
    <a href="/" class="logo">
        {% include utils/d-logo.html %}
    </a>
    <input class="menu-btn" type="checkbox" id="menu-btn">
    <label class="menu-icon" for="menu-btn"><span class="navicon"></span></label>
    <ul class="menu">
      <li><a href="{{ site.baseurl }}/" {% if page.title == "About" %}class="active"{% endif %}>About</a></li>
      <li><a href="http://work.diogorusso.com" target="_blank">Work</a></li>
      <li><a href="{{ site.baseurl }}/learn/" {% if page.url contains "learn" %}class="active"{% endif %}>Learn</a></li>
      <li><a href="https://medium.com/@diogorusso" target="_blank">Ideas</a></li>
      <li><a href="{{ site.baseurl }}/learn/" {% if page.title == "Connect" %}class="active"{% endif %}>Contact</a></li>
    </ul>
</nav>
