<!-- <div class="scroll-line"></div> -->
<!-- 
    https://codepen.io/toddpadwick/pen/Xdgvox
    https://codepen.io/surfbird/pen/OVBReP?depth=everything&order=popularity&page=2&q=hide+nav&show_forks=false
 -->
<div id="header" class="nav">
    <div class="container">
        <a href="{{site.baseurl}}/">{% include img/d-logo.html %}</a>
        <div id="topnav">
            <ul>
                <li><a {% if page.title contains "About" %}class="active"{% endif %} href="{{site.baseurl}}/">About</a></li>
                <li><a href="http://work.diogorusso.com" target="_blank">Work</a></li>
                <!-- <li><a  {% if page.url contains "work" %}class="active"{% endif %} href="{{site.baseurl}}/work">Work</a></li> -->
                <!-- <li><a  {% if page.url contains "learn" %}class="active"{% endif %} href="{{site.baseurl}}/learn">Learn</a></li>
                <li><a href="https://medium.com/@diogorusso" target="_blank">Journal</a></li> -->
                <li><a href="https://www.linkedin.com/in/diogorusso/?locale=en_US" target="_blank">{% include img/heart.html %} Connect</a></li>

            </ul>
        </div><!-- nav -->
            <!-- <input class="menu-btn" type="checkbox" id="menu-btn"> -->
            <label class="menu-icon" for="menu-btn" id="menuButton">
                <span class="navicon">
                        <a href="#" > </a>
                </span>
            </label>
            <!-- <span style="float:right;padding-top:4px;"><a href="">hello</a></span> -->
    </div><!-- container -->
</div><!-- header -->


<!-- 
    https://codepen.io/MattJLeach/pen/eByvOJ?depth=everything&order=popularity&page=3&q=social+bar&show_forks=false
    
    <div class="sticky-social-bar">
    <ul class="list-unstyled">
        
        <li class="social-item facebook"><a href="#" data-social="facebook">Fb</i></a></li>
        
        <li class="social-item twitter" ><a href="#" data-social="twitter">Li</a></li>
        
        <li class="social-item gplus"><a href="#" data-social="gplus">Bh</a></li>
        
    </ul>
</div> -->