<script src="{{ site.static }}js/script.js" type="text/javascript" async></script>
{% include scripts/upup.html %}
{% comment %} {% include scripts/g-analytics.html %} {% endcomment %}
{% comment %} 
{% include scripts/base.html %}
{% if page.layout == 'categories/sub-category' %}
    {% include scripts/isotope.html %}
{% endif %}
{% if page.layout == 'post/learn' %}
    {% include scripts/swipebox.html %}
{% endif %}
{% if page.layout == 'about' %}
    {% include scripts/slick.html %}
    {% include scripts/type_fx.html %}
{% endif %}

 {% endcomment %}
