<nav class="nav" role="navigation">
    <a href="{{ site.baseurl}}/" class="logo">
        {% include img/d-logo.html %}
    </a>
    <ul>
        <li><a {% if page.title contains "About" %}class="active"{% endif %} href="{{site.baseurl}}/">About</a></li>
        <li><a href="http://work.diogorusso.com" target="_blank" rel="noopener">Work</a></li>
        <!-- <li><a  {% if page.url contains "work" %}class="active"{% endif %} href="{{site.baseurl}}/work">Work</a></li> -->
        <!-- <li><a  {% if page.url contains "learn" %}class="active"{% endif %} href="{{site.baseurl}}/learn">Learn</a></li> -->
        {% comment %} <li><a href="https://medium.com/@diogorusso" target="_blank" rel="noopener">Journal</a></li> {% endcomment %}
        <li><a href="https://www.linkedin.com/in/diogorusso/?locale=en_US" target="_blank" rel="noopener">{% include img/social/linkedin.html %}</a></li>

    </ul>
</nav>