<div style="position:absolute;top:50%;left:50%;transform:translateX(-50%) translateY(-65%);opacity:.2;z-index:2;">
    {% include img/rabisco.html %}
</div>
<header class="masthead">
    <div class="masthead-wrap center-content">
        <a href="#bio" class="page-scroll">
            <h1>
                I'm Diogo Russo<br class="show-for-small-only">
            </h1>
            <h2>
                I help businesses, individuals and communities craft meaningful<br>
                <span class="txt-rotate" data-period="1000" data-rotate="[ &quot;PRODUCTS&quot;, &quot;EXPERIENCES&quot;,&quot; MEMORIES&quot;, &quot; RELATIONSHIPS&quot;]"><span class="wrap">EXPERIENCES</span></span>
            </h2>
        </a>
    </div>
    <div class="arrow-wrap"> 
        <a href="#bio" class="page-scroll">
            SCROLL
            {% include img/nav/arrow.html %}
        </a>
    </div>
</header>
<div class="masthead-overlay"></div>