<header class="masthead">
    <div class="masthead-wrap center-content">
        <a href="#bio" class="page-scroll">
            <h1>
                I'm Diogo Russo ;)<br class="show-for-small-only">
            </h1>
            <h2>
                I help businesses, individuals and communities craft meaningful<br>
                Experiences
            </h2>
        </a>
    </div>
    <div class="arrow-wrap"> 
        <a href="#bio" class="page-scroll">
            SCROLL
            {% include img/nav/arrow.html %}
        </a>
    </div>
</header>
