.fullwidth{
    padding: 4rem 2rem;
    flex: 1;
    height: 100%;
    position: relative;
    max-width: 1185px;
    margin: 0 auto;    
}

// .header{
//     max-width:75%;
//     padding:.75rem
// }

@media screen and (max-width: 1000px) {    
    .header{
        max-width: 100%;
    }
}

.PageNavigation {
    font-size: 14px;
    display: block;
    width: auto;
    overflow: hidden;
  }
  
  .PageNavigation a {
    display: block;
    width: 50%;
    float: left;
    margin: 1em 0;
  }
  
  .PageNavigation .next {
    text-align: right;
  }