
.full{
    width: 100%;
    height:100%;
}

@mixin box ($width){
    padding: 0 $gutter;
    height: 100%;
    position: relative;
    max-width: $width;
    margin: 0 auto;    
}

.box{
    @include box(1440px)    
}

.box-sm{
    @include box(840px)    
}


@media #{$device-small} {
    .box{
        padding: 0 1rem;
    }
    .box-sm{
        padding: 0 1rem;    
    }
}

// .padding-nav{
// 	padding-top:$gutter/1.5;
// }