
$transition: box-shadow 250ms ease-in-out, transform 250ms ease-in-out;

.card {
    position: relative;
    margin: calc(#{$gutter} / 2) calc(#{$gutter} / 2);
    background: $light;
    box-shadow: 0 15px 25px $mid-light;
    transition: $transition;	
    &:hover{
        transform: translate(0,-20px);
        transition:$transition;
        box-shadow: 0 45px 45px $card-shadow;
        transition: $transition;
    }
    a {
        text-decoration: none;
    }
    h3{
        height:55px;
    }
    p{
        margin-bottom: $gutter;
    }
    hr{
        margin: calc(#{$gutter} / 2) 0;
    }
    .content {
        padding: calc(#{$gutter} / 2);
        small{
            color: $mid;
            text-transform: uppercase;
            font-size: .75rem;
          }
    }
}

.card-link{
    font-size: 1.15rem;
    line-height: 1.75;
    background: $light;

    .icon-link{
        text-align:right; 
        color: $mid;
        bottom: 1rem;
        right: 1rem;
        position: absolute;
    }
}