
$transition: box-shadow 250ms ease-in-out, transform 250ms ease-in-out;

.card {
    position: relative;
    margin: calc(#{$gutter} / 2) calc(#{$gutter} / 2);
    background: $light;
    box-shadow: 0 15px 25px $mid-light;
    transition: $transition;	
    &:hover{
        transform: translate(0,-20px);
        transition:$transition;
        box-shadow: 0 45px 45px $card-shadow;
        transition: $transition;
    }
    a {
        text-decoration: none;
    }
    h3{
        height:55px;
    }
    hr{
        margin: calc(#{$gutter} / 2) 0;
    }
    .content {
        padding: calc(#{$gutter} / 2);
        small{
            color: $mid;
            text-transform: uppercase;
            font-size: .75rem;
          }
    }
    .icon-link{
        display:block;
        width:100%;
        text-align:right; 
        color: $mid;
    }
}
.portfolio{
    position: relative;
    margin: calc(#{$gutter} / 3) auto;
    a {
        text-decoration: none;
    }
    .content {
        padding: calc(#{$gutter} / 2);
        text-align: center;
        h3{
            font-size: 1.4rem;
            -webkit-margin-before: 0;
            -webkit-margin-after: .75rem;
        }
        small{
            color: $mid;
            text-transform: uppercase;
            font-size: 1.2rem;
          }
    }
}

.card-link{
    border-left: 4px solid  $mid;
}