.list{
  ul{
    font-size:calc(#{$gutter} / 2.5);
    margin: 0 calc(#{$gutter} / 2.5) $gutter 0;
    list-style-type: none;
    padding: 0;
  }
  li{
    border-bottom: solid 1px $mid-light; 
    padding-bottom:calc(#{$gutter} / 4);
    margin-bottom:calc(#{$gutter} / 2);
    a{
      text-decoration: none;
      font-weight: 500;
      &:hover,
      &:focus {
        text-decoration: none;
      }
    }
    &:hover{
        border-bottom: solid 1px $dark; 
    }
  }
}
 
.inline{
  display: inline;
  margin-right:calc(#{$gutter} / 2);
}

@media #{$device-medium-small} {
  .inline{
    display: block;
    margin-right: 0;
  }
}