.masthead{
  height:100vh;
  width: 100%; 
  display: flex;
  color: white;
  text-align: center;
  overflow: hidden;
  position: relative;
  @include bgGradientAnim(#5e06a0, #f11a04, 'gradientAnim');
 
  .masthead-wrap{
    padding: 0 1rem;
  }
  a{
    color: $light;
    text-decoration: none;
  }
  h1{
    font-size: 3rem;
  }

  h2{
    font-family: $font-sans-serif;
    font-size: 2rem;
    font-weight: 200;
  }
}

.masthead::before {
  content:"";
  position: absolute;
  top: 0;
  z-index: 1;
  opacity: .25;
  width: 200%;
  height: 200%;
  @include scrollBgDiagonalAnim (600px, 'https://res.cloudinary.com/diogorusso/image/upload/about/about-cover.png',scrollBgDiagonalAnim);
}


#scroll-arrow {
  width: 14px;
  display: block;
  margin: 10px auto;
  animation: bounceArrow .35s ease-in alternate infinite;
}

.arrow-wrap{
  position:absolute; 
  bottom:10%; 
  left:50%; 
  @include translate(-50%, 0);
  opacity:.5;
  z-index: 3;
}

.center-content{
  width:60%;
  max-width: 635px;
  z-index: 2;
  position: absolute;
  left: 50%;
  top: 45%;
  @include translate(-50%, -50%);
}


@media #{$device-medium} {
  .masthead-wrap{
    width:70%;
  }
}


@media #{$device-small} {
  .masthead{
    text-align: center;
    h1{
      font-size: 2rem;
    }
  
    h2{
      font-size: 1.5rem;
    }
  }
  .masthead::before {
    @include scrollBgDiagonalAnim (325px, 'https://res.cloudinary.com/diogorusso/image/upload/about/about-cover-sm.png',scrollBgDiagonalAnimSmall);
    opacity: .3;
  }
  .arrow-wrap{
    position:absolute; 
    bottom:15%; 
    left:50%; 
    @include translate(-50%, 0);
    opacity:.5;
  }
  .center-content{
    width:95%;
    top:40%;
  }
}

@media #{$device-small-landscape} {
  .center-content{
    width:50%;
    top:45%;
  }
  .masthead{
    text-align: center;
    h1{
      font-size: 1.5rem;
    }
  
    h2{
      font-size: 1rem;
      font-weight: lighter;
    }
  }
  .arrow-wrap{
    position:absolute; 
    bottom:3.5rem; 
    opacity:.5;
  }

}
