.masthead{
  height:100vh;
  width: 100%; 
  background-size:cover;
  background: linear-gradient(310deg, #5e06a0, #f11a04);
  background-size: 200% 200%;
  background-position: center;
  display: flex;
  color: white;
  text-align: center;
  -webkit-animation: AnimationName 12s ease infinite;
  -moz-animation: AnimationName 12s ease infinite;
  -o-animation: AnimationName 12s ease infinite;
  animation: AnimationName 12s ease infinite;
  overflow: hidden;
  position: relative;
 
  .masthead-wrap{
    padding: 0 1rem;
  }
  a{
    color: $light;
    text-decoration: none;
  }
  h1{
    font-size: 3rem;
  }

  h2{
    font-family: $font-sans-serif;
    font-size: 2rem;
    font-weight: lighter;
  }
}

@-webkit-keyframes AnimationName {
    0%{background-position:0% 17%}
    50%{background-position:100% 84%}
    100%{background-position:0% 17%}
}
@-moz-keyframes AnimationName {
    0%{background-position:0% 17%}
    50%{background-position:100% 84%}
    100%{background-position:0% 17%}
}
@-o-keyframes AnimationName {
    0%{background-position:0% 17%}
    50%{background-position:100% 84%}
    100%{background-position:0% 17%}
}
@keyframes AnimationName { 
    0%{background-position:0% 17%}
    50%{background-position:100% 84%}
    100%{background-position:0% 17%}
}


#scroll-arrow {
  width: 14px;
  display: block;
  margin: 10px auto;
  animation: scroll .35s ease-in alternate infinite;
}

.arrow-wrap{
  position:absolute; 
  bottom:10%; 
  left:50%; 
  transform:translateX(-50%); 
  opacity:.5;
  z-index: 3;
}

@keyframes scrollGood {
  0% {
    transform: translate3d(600px,0,0);
  }
  100% {
    transform: translate3d(0,-600px,0);
  }
}

@keyframes scrollSmall {
  0% {
    transform: translate3d(350px,0,0);
  }
  100% {
    transform: translate3d(0,-350px,0);
  }
}
// overlay
.masthead::before {
  content:"";
  // display: block;
  height: 1000%;
  position: absolute;
  background-position: center center;
  background-size: 600px;
  top: 0;
  left: -600px;
  width: 1000%;
  z-index: 1;
  background: url(./assets/img/about/hero.png);
  opacity: .35;
  animation: scrollGood 15s linear infinite;
}


.center-content{
  width:60%;
  max-width: 635px;
  z-index: 2;
  position: absolute;
  left: 50%;
  top: 45%;
  transform: translateY(-50%) translateX(-50%);
}

@keyframes scroll {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(10px);
  }
}

@media #{$device-medium} {
  .masthead-wrap{
    width:80%;
  }
}


@media #{$device-small} {
  .center-content{
    width:95%;
    top:40%;
  }
  .masthead{
    text-align: center;
    h1{
      font-size: 2rem;
    }
  
    h2{
      font-size: 1.25rem;
      font-weight: lighter;
    }
  }
  .masthead::before {
    background: url(./assets/img/about/hero-sm.png);
    opacity: .45;
    animation: scrollSmall 15s linear infinite;
    background-size: 350px;
    left: -350px;
  }
  .arrow-wrap{
    position:absolute; 
    bottom:15%; 
    left:50%; 
    transform:translateX(-50%); 
    opacity:.5;
  }
}

@media #{$device-small-landscape} {
  .center-content{
    width:50%;
    top:45%;
  }
  .masthead{
    text-align: center;
    h1{
      font-size: 1.5rem;
    }
  
    h2{
      font-size: 1rem;
      font-weight: lighter;
    }
  }
  .arrow-wrap{
    position:absolute; 
    bottom:3.5rem; 
    left:50%; 
    transform:translateX(-50%); 
    opacity:.5;
  }

}
