.portfolio{
    position: relative;
    margin: calc(#{$gutter} / 3) auto;
    a {
        text-decoration: none;
    }
    .content {
        padding: calc(#{$gutter} / 2);
        text-align: center;
        h2{
            font-size: 1.4rem;
            -webkit-margin-before: 0;
            -webkit-margin-after: .75rem;
        }
        small{
            color: $dark;
            text-transform: uppercase;
            font-size: .9rem;
          }
    }

    $grayscale:100%;
    $color:0;
    $no-blur:0;
    $blur:100%;
    $saturation:100%;
    $no-saturation:0;

    img{
        -webkit-filter: grayscale($grayscale) blur($no-blur) saturate($saturation);
        filter: grayscale($grayscale) blur($no-blur) saturate($saturation);

        -webkit-transition:all 0.3s;
        -moz-transition:all 0.3s;
        -o-transition:all 0.3s;
        transition:all 0.3s;
    }
    img:hover{
        -webkit-filter: grayscale($color) blur($no-blur) saturate($saturation);
        filter: grayscale($color) blur($no-blur) saturate($saturation);
    }
}