
.learn{
    .intro{
        margin-bottom: $gutter; 
    }
    .cover{
        display: block;
        margin: auto;
    }
    h1,h2,h3{
        text-align: left;
        color: $dark;
        font-family:"proxima-nova-soft";
    }
    .h2{
       margin-bottom: $gutter; 
    }
}

@media #{$device-medium-small} {
    .learn{
        h1, h2, h3, h4, h5, h6 {
            text-align: center;
        }
    }
}


