
.post-learn{
    padding-top:$gutter;
    .intro{
        margin-bottom: $gutter;
        a{
            padding: 0 .25rem;
            color: $mid;
        }
        a:hover{
            background: $dark;
            color: $light;
        }
        h3{
            color: $mid;
        } 
    }
    .cover{
        display: block;
        margin: auto;
    }
    .metadata{
        margin-bottom: $gutter/1.5;
        color: $mid;
    }
    h1{
        margin: 1rem 0 .5rem 0;
    }
    h2,h3{
        text-align: left;
        color: $dark;
        font-family:"proxima-nova-soft";
        line-height: 1.5;
    }
    h2{
       font-size: 1.25rem; 
    }
}

@media #{$device-medium-small} {
    .post-learn{
        .metadata, h1, h2, h3, h4, h5, h6 {
            text-align: center;
        }
        h1{
            margin-bottom: $gutter
        }
    }
}


