
.post-learn{
    padding-top:$gutter;
    .intro{
        margin-bottom: $gutter;
        a{
            padding: 0 .25rem;
            color: $mid;
        }
        a:hover{
            background: $dark;
            color: $light;
        }
        h3{
            color: $mid;
        } 
    }
    .cover{
        display: block;
        margin: auto;
    }
    .metadata{
        p{
            border-left: solid 2px $dark;
            padding: 0.25rem .75rem;
        }
        margin-bottom: $gutter/1.5;
        // color: $mid;
    }
    h1{
        margin: 1rem 0 .75rem 0;
    }
    h2,h3{
        text-align: left;
        color: $dark;
        font-family:"proxima-nova-soft";
        line-height: 1.5;
    }
    h2{
       font-size: 1.25rem; 
    }
}


.pagination {
    width: 100%;
    background: #ccc;
    display: flex;
    
    .prev, .next {
      width: 50%;
      height: 100px;
     display: inline-flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    }
    
    .prev {
      background: #40424D;
    }
    
    .next {
      background: #FDDA01;
    }
  }

@media #{$device-medium-small} {
    .post-learn{
        .intro{
            h1{
                font-size: 2.5rem;
                border-bottom: solid 2px;
                padding-bottom: $gutter/1.5;
                margin-bottom: $gutter/1.5;
            }
        }
        .metadata, h1, h2, h3, h4, h5, h6 {
            text-align: center;
        }
        .metadata{
            p{
                border-left:none;
            }
        }
        h1{
            margin-bottom: $gutter;
        }
    }
}


