.step-wrap{
    display:flex;
    flex-wrap: wrap; 
    margin:auto; 
    max-width:60%; 
    img{
        max-height:325px;
        width:auto;
    }
}
.step-content{
    max-width:55%;
    h1{
        font-family: $font-sans-serif;
        font-size: 2rem;
    }
}

.step-img-wrap{
    margin:auto;
}
@media #{$device-medium-small}{
    .step-wrap{
        max-width:85%;
    }
    .step-content{
        max-width:60%;
        padding: 1rem;
    }
    .step-img-wrap{
        img{
            height: 300px;
        }    
    }
}

.process-pager{
    text-align:center; 
    padding:1.5rem 0;
    font-size: 1.15rem;
}

.process-icon{
    max-width:145px;
    margin:auto; 
    padding:1rem;
}

@media #{$device-small} {
    .step-wrap{
        max-width:100%;
    }
    .step-img-wrap{
        img{
            // height: 250px;
        }    
    }
    .step-content{
        max-width:100%;
        text-align: center;
        height: 12rem;
        h1{
            font-size: 1.5rem;
        }
    } 
}

.center-slide{
    max-width: 800px;
    margin: auto;
    z-index: 2;
  }