.slick-prev,
.slick-next
{
    font-size: 0;
    line-height: 0;

    position: absolute;
    top: 50%;

    display: block;

    width: 20px;
    height: 20px;
    padding: 0;

    cursor: pointer;

    color: transparent;
    border: none;
    outline: none;
    background: transparent;
}
.slick-prev:hover,
.slick-prev:focus,
.slick-next:hover,
.slick-next:focus
{
    color: transparent;
    outline: none;
    background: transparent;
}
.slick-prev:hover:before,
.slick-prev:focus:before,
.slick-next:hover:before,
.slick-next:focus:before
{
    opacity: 1;
}
.slick-prev.slick-disabled:before,
.slick-next.slick-disabled:before
{
    opacity: .25;
}

.slick-prev:before,
.slick-next:before
{
    /*font-family: 'slick';
    font-size: 20px;*/
    line-height: 1;

    opacity: .75;
    color: #222121;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.slick-prev
{
    left: 0;
    z-index: 99;
}
[dir='rtl'] .slick-prev
{
    right: 0px;
    left: auto;
}

.slick-prev:before
{
    content: '←';
}
[dir='rtl'] .slick-prev:before
{
    content: '→';
}


.slick-next
{
    right: 0;
}
[dir='rtl'] .slick-next
{
    right: auto;
    left: 0;
}
.slick-next:before
{
    content: '→';
}
[dir='rtl'] .slick-next:before
{
    content: '←';
}

/* Dots */

.slick-dots
{
    position: absolute;
    bottom: 0;

    display: block;

    width: 100%;
    padding: 0;

    list-style: none;

    text-align: center;
}
.slick-dots li
{
    position: relative;

    display: inline-block;

    width: 20px;
    height: 20px;
    margin: 0 5px;
    padding: 0;

    cursor: pointer;
}
.slick-dots li button
{
    font-size: 0;
    line-height: 0;

    display: block;

    width: 20px;
    height: 20px;
    padding: 5px;

    cursor: pointer;

    color: transparent;
    border: 0;
    outline: none;
    background: transparent;
}
.slick-dots li button:hover,
.slick-dots li button:focus
{
    outline: none;
}
.slick-dots li button:hover:before,
.slick-dots li button:focus:before
{
    opacity: 1;
}
.slick-dots li button:before
{
    font-family: 'slick';
    font-size: 12px;
    line-height: 20px;

    position: absolute;
    top: 0;
    left: 0;

    width: 20px;
    height: 20px;

    content: '•';
    text-align: center;

    opacity: .25;
    color: black;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.slick-dots li.slick-active button:before
{
    opacity: .75;
    color: black;
}


// /* custom slick */

.process-pager-slider {
    // margin: 0 20px;
    .slick-track{
        transform: none !important;
    }
    background: black;
    
    .slick-prev, .slick-next {

      &.slick-disabled {
        display: none !important;
      }
    }
    &.active {
      position: relative;

      img {
          border: 4px solid black;
          margin-top: 7px !important;
      }
      &:before {
          content: '';
          width: 0;
          height: 0;
          border-style: solid;
          border-width: 0 30px 10px 30px;
          border-color: transparent transparent black transparent;
          position: absolute;
          left: 0;
          right: 0;
          top: -5px;
          margin: auto;
          text-align: center;
      }
  }
}
@media #{$device-small} {
    .process-pager-slider{
        // display: none;
    .process-pager{
        font-size: .8rem;
    }
    }
    .slick-dots{
        display: none !important;
    }
}
.slick-next, .slick-prev {
    z-index: 99;
    &:before {
        content: '';
        width: 0;
        height: 0;
        border-style: solid;       
    }
}
.slick-prev {
    left: $gutter/1.5;
    &:before {       
        border-width: 10px 17.3px 10px 0;
        border-color: transparent black transparent transparent;
    }
}
.slick-next {
    right:$gutter/1.5;
    &:before {       
        border-width: 10px 0 10px 17.3px;
        border-color: transparent transparent transparent black;
    }
}

// PROCESSS 

.step-wrap{
    display:flex;
    flex-wrap: wrap; 
    margin:auto; 
    max-width:60%; 
    img{
        max-height:325px;
        width:auto;
    }
}
.step-content{
    max-width:55%;
    h1{
        font-family: $font-sans-serif;
        font-size: 2rem;
    }
}

.step-img-wrap{
    margin:auto;
}
@media #{$device-medium}{
    .step-wrap{
        max-width:85%;
    }
    .step-content{
        max-width:60%;
        padding: 1rem;
    }
    .step-img-wrap{
        img{
            height: 300px;
        }    
    }
}

.process-pager{
    text-align:center; 
    padding:1.5rem 0;
    font-size: 1.15rem;
}

.process-icon{
    max-width:145px;
    margin:auto; 
    padding:1rem;
}

@media #{$device-small} {
    .step-wrap{
        max-width:100%;
    }
    .step-img-wrap{
        img{
            height: 225px;
        }    
    }
    .step-content{
        max-width:90%;
        text-align: center;
        height: 6rem;
        padding-top:.5rem; 
        h1{
            font-size: 1.15rem;
        }
    } 
}

@media #{$device-small-landscape} {
    .step-wrap{
        max-width:100%;
    }
    .step-img-wrap{
        img{
            max-height: 200px;
        }    
    }
    .step-content{
        max-width:55%;
        text-align: left;
        h1{
            font-size: 1.2rem;
        }
    } 
}

.center-slide{
    // max-width: 800px;
    margin: auto;
    z-index: 2;
  }

  .slick-dots li button:before {
    font-family: $font-sans-serif;
    font-size: 2.2rem;
}