<div class="btns-social">
        <a href="https://www.linkedin.com/in/diogorusso/?locale=en_US"  target="_blank">
                {% include img/social/linkedin.html %}
        </a>
        <a href="https://www.instagram.com/diogorusso/" target="_blank" rel="noopener">
                {% include img/social/instagram.html %}
        </a>
        {% comment %} 
        <a href="https://www.behance.net/diogorusso"  target="_blank" rel="noopener">
                {% include img/social/behance.html %}
        </a>
        <a href="https://medium.com/@diogorusso"  target="_blank" rel="noopener">
                {% include img/social/medium.html %}
        </a>
        <a href="https://codepen.io/diogorusso/"  target="_blank" rel="noopener">
                {% include img/social/codepen.html %}
        </a> {% endcomment %}
</div>
