<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.lazyloadxt/1.1.0/jquery.lazyloadxt.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js"></script>
<script>
    $(window).lazyLoadXT();
    // fix for isotope filtering  more: https://isotope.metafizzy.co/events.html#layoutcomplete
    $.lazyLoadXT.updateEvent+=' layoutComplete';
    $(window).load(function() {
        $('.preloader').fadeOut();
        $('.overlay').delay(350).fadeOut('slow');
        $('body').delay(350).css({'overflow':'visible'})
    });

    $.lazyLoadXT.onload.addClass = 'img-loaded';

   

    // jQuery for page scrolling feature - requires jQuery Easing plugin
    $(function() {
        $('a.page-scroll').bind('click', function(event) {
            var $anchor = $(this);
            $('html, body').stop().animate({
                scrollTop: $($anchor.attr('href')).offset().top-0
            }, 1000, 'easeInOutExpo');
            event.preventDefault();
        });
    });
    // overlay menu responsive
    $( document ).ready(function() {

/* OVERLAY FUNCTIONS << */

  $("#menuButton").click(function( event ) {
		// event.preventDefault();
		$(this).toggleClass("switch");
		$("#topnav").toggleClass("reveal");
	});


	/* >> OVERLAY FUNCTIONS */

    // SCROLL % Line
    //capture scroll any percentage
    $(window).scroll(function(){
        var wintop = $(window).scrollTop(), docheight = 

        $(document).height(), winheight = $(window).height();
                var scrolled = (wintop/(docheight-winheight))*100;

            $('.scroll-line').css('width', (scrolled + '%'));
        });
    });

    // auto hide nav
    function hideNav() {    
        var lastScrollTop = 0; 
        $(window).scroll(function(event){
                var st = $(this).scrollTop();
                 if (st > lastScrollTop){
                    $('#header').slideUp();  
                 } else {
                   $('#header').slideDown();
                 }
                 lastScrollTop = st;
               
              });
        }
      //check window size
        var windowWidth = $(window).width();
      
          if (windowWidth > 775){
              hideNav();
          }
      
      //adjust the nav functionality if the window is resized
      
            function resizeWindow(){
              $(window).off('scroll'); // unbind scroll event
                var windowWidth = $(window).width();
                if (windowWidth > 775){
                  hideNav();
                }           
                else if (windowWidth <= 775){
                  //$('#header').hide();
                  hideNav();
                } 
              }
        
        $(window).resize(resizeWindow); 

</script>