<article class="portfolio cols-2">
        <a href="{{ include.url }}">
            <img src="{{ site.cdn }}/work/preloader.svg" data-src="{{ site.cdn }}/work/{{ include.thumb }}">
            <div class="content">
                <h3>{{ include.title }}</h3>
                <small>
                        {{ include.category }}
                </small>
            </div>
        </a>
    </article>
    
<!-- <article class="portfolio {{ include.class }} {% for cat in post.categories%}{{ cat }} {% endfor %}">
        <a href="{{ site.baseurl }}{{ post.url }}">
            <img src="{{ site.preloader }}" data-src="{{site.cdn}}/{{ post.cover }}">
            <div class="content">
                <h3>{{ post.title | truncate: 50, '...' }}</h3>
                <small>
                    {% capture test_cat %}{{ post.categories[3] }}{% endcapture %}
                    {% if test_cat !='' %}
                        {{ post.categories[3] | replace: "-", " " }}
                    {% else %}
                        {{ post.categories[2] | replace: "-", " " }}
                    {% endif %}
                    {% capture test_cat %}{{ post.categories[2] }}{% endcapture %}
                    {% if test_cat !='' %}
                    {% else %}
                        {{ post.categories[1] | replace: "-", " " }}
                    {% endif %}
                </small>
            </div>
        </a>
    </article>
     -->
    