<article class="card {{ include.class }} {% for cat in post.categories%}{{ cat }} {% endfor %}">
    <a href="{{ site.baseurl }}{{ post.url }}">
        <img src="{{site.cdn}}/{{ post.cover }}">
        <div class="card-content">
            <small>
                {% capture test_cat %}{{ post.categories[2] }}{% endcapture %}
                {% if test_cat !='' %}
                    {{ post.categories[2] | replace: "-", " " }}
                {% else %}
                    {{ post.categories[1] | replace: "-", " " }}
                {% endif %}
                {% capture test_cat %}{{ post.categories[1] }}{% endcapture %}
                {% if test_cat !='' %}
                {% else %}
                    {{ post.categories[0] | replace: "-", " " }}
                {% endif %}
            </small>
            <h3>{{ post.title | truncate: 50, '...' }}</h3>
        </div><!-- .card-content -->
    </a>
</article><!-- .card -->

