<article class="card {{ include.class }} {% for cat in post.categories%}{{ cat }} {% endfor %}">
    <a href="{{ site.baseurl }}{{ post.url }}">
        <img src="{{ site.preloader }}" data-src="{{site.cdn}}/{{ post.cover }}">
        <div class="content">
            <small>
                {% capture test_cat %}{{ post.categories[3] }}{% endcapture %}
                {% if test_cat !='' %}
                    {{ post.categories[3] | replace: "-", " " }}
                {% else %}
                    {{ post.categories[2] | replace: "-", " " }}
                {% endif %}
                {% capture test_cat %}{{ post.categories[2] }}{% endcapture %}
                {% if test_cat !='' %}
                {% else %}
                    {{ post.categories[1] | replace: "-", " " }}
                {% endif %}
            </small>
            <h3>{{ post.title | truncate: 50, '...' }}</h3>
        </div>
    </a>
</article>

