.list{
  ul{
    margin: 0 calc(#{$gutter} / 2) $gutter 0;
    list-style-type: none;
    padding: 0;
  }
  li{
    border-bottom: solid 1px #ddd; 
    padding-bottom:calc(#{$gutter} / 4);
    margin-bottom:calc(#{$gutter} / 2);
    a{
      text-decoration: none;
      font-weight: 500;
      &:hover,
      &:focus {
        text-decoration: none;
      }
    }
    &:hover{
        border-bottom: solid 1px #000; 
    }
  }
}
 
.inline{
  display: inline;
  margin-right:calc(#{$gutter} / 2);
}
