
.section{
    padding: $gutter 0 0 0;
    p{
        padding-left:calc(#{$gutter} / 2); 
    }
}

.header{
    margin-bottom: $gutter;
    h2{
        font-family:"proxima-nova-soft";
        margin-bottom: 4.5rem;
    }
    ul{
        font-size:1.5rem;
        margin: 0 1.5rem 4.5rem 0;
        padding:0  
    }
    li{
        display: inline;
        border-bottom: solid 1px; 
        margin-right:1.5rem;
        padding-bottom:.75rem;
        &:hover{
            border-bottom: transparent 3px;
        }

        a{
            text-decoration: none;
        }
    }
}

@media screen and (max-width: 1000px) {    
    .header{
        max-width: 100%;
        li{
            margin-bottom:1.5rem;
            display: block
        }
    }
}
