
.section{
    padding: $gutter 0 0 0;
    p{
        padding-left:calc(#{$gutter} / 2); 
    }
}

.header{

    h2{
        margin-bottom: $gutter;
        color: #9c9c9c;
    }
    h3{
        font-family: "proxima-nova-soft";
        max-width: 750px;
    }
}

@media screen and (max-width: 1000px) {
    .section{
        h1{
            margin-bottom: $gutter;
        }
        p{
            width: $box;
            padding: 0;
            margin: auto;
        }
    }    
    .header{
        max-width: $box;
        margin:auto;
    }
    .post{
        h1, h2, h3, h4, h5, h6 {
            text-align: center;
        }
        h3{
            text-align: left;
        }
    }
}
