
.section{
    padding: $gutter 0 0 0;
    p{
        padding-left:calc(#{$gutter} / 2); 
    }
}

.header{
    margin-bottom: $gutter;
    h2{
        margin-bottom: $gutter;
        color: #9c9c9c;
    }
}

@media screen and (max-width: 1000px) {
    .section{
        h1{
            margin-bottom: $gutter;
        }
        p{
            width: $box;
            padding: 0;
            margin: auto;
        }
    }    
    .header{
        max-width: 100%;
        ul{
            font-size: 1rem;
            max-width: $box;
            margin:auto;
        }
        li{
            margin-bottom:calc(#{$gutter} / 2);
            display: block
        }
    }
    .post{
        @media screen and (max-width: 1000px) {
            h1, h2, h3, h4, h5, h6 {
              text-align: center;
            }
          }
    }
}
