.scroll-line{
    height: 3px;
background: -moz-linear-gradient(0deg, rgba(89,13,133,1) 0%, rgba(255,0,0,1) 64%, rgba(255,112,36,1) 100%); /* ff3.6+ */
    background: -webkit-gradient(linear, left top, right top, color-stop(0%, rgba(89,13,133,1)), color-stop(64%, rgba(255,0,0,1)), color-stop(100%, rgba(255,112,36,1))); /* safari4+,chrome */
    background: -webkit-linear-gradient(0deg, rgba(89,13,133,1) 0%, rgba(255,0,0,1) 64%, rgba(255,112,36,1) 100%); /* safari5.1+,chrome10+ */
    background: -o-linear-gradient(0deg, rgba(89,13,133,1) 0%, rgba(255,0,0,1) 64%, rgba(255,112,36,1) 100%); /* opera 11.10+ */
    background: -ms-linear-gradient(0deg, rgba(89,13,133,1) 0%, rgba(255,0,0,1) 64%, rgba(255,112,36,1) 100%); /* ie10+ */
    background: linear-gradient(90deg, rgba(89,13,133,1) 0%, rgba(255,0,0,1) 64%, rgba(255,112,36,1) 100%); /* w3c */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#590D85', endColorstr='#FF7024',GradientType=1 ); /* ie6-9 */
    width: 0%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
}