// Headings
h1, h2, h3, h4, h5, h6 {
  font-weight: 400;
  line-height: 1.25;
}
h1, h3 {
  // font-weight: normal;
  // line-height: 1.25;
  font-family:$font-serif;
}

// Body text
// p {
//   margin: 0 0 1rem 0;
// }

// Lists
ul, ol, dl {
  margin-top: 0;
  margin-bottom: 1rem;
}

.wf-loading {
  h1, h2,h3,h4,h5,h6,p,small,.process-pager,.txt {transition
  :all 2s; opacity:0;};
  h3{transition
    :all 2s; opacity:1;};
  h2{visibility: hidden};
  p{visibility: hidden};
  small{visibility: hidden};
  .process-pager{visibility: hidden};
  .txt{visibility: hidden};
}
.wf-active{ 
  h1, h2,h3,h4,h5,h6,p,small,.process-pager,.txt {transition
    :all 2s; opacity:1;};
}
.wf-inactive { 
  h1, h2,h3,h4,h5,h6,p,small,.process-pager,.txt {transition
    :all 2s; opacity:1;};
}