<div class="bio">
        <div class="bio-wrap">
            <div class="profile">
                <img src="http://hello.diogorusso.com/lib/imgs/site/bio/img_resp/791/R_profile.jpg" alt="">
            </div>
            <div class="skills">
                    <div class="skills-wrap">
                        <div class="skill-wrap">
                                <div class="skill">
                                        <img src="http://lab.diogorusso.com/new-site//lib/imgs/site/bio/skill_01_experience.png" alt="">
                                        <p>Experience <br> & Product</p>
                                </div>
                                <img src="http://lab.diogorusso.com/new-site//lib/imgs/site/bio/img_resp/791/R_bio_bg.jpg" alt="">
                        </div>
                        <div class="skill-wrap">
                                <div class="skill">
                                        <img src="http://lab.diogorusso.com/new-site//lib/imgs/site/bio/skill_01_experience.png" alt="">
                                        <p>Experience <br> & Product</p>
                                </div>
                                <img src="http://lab.diogorusso.com/new-site//lib/imgs/site/bio/img_resp/791/R_bio_bg.jpg" alt="">
                        </div>
                        <div class="skill-wrap">
                                <div class="skill">
                                        <img src="http://lab.diogorusso.com/new-site//lib/imgs/site/bio/skill_01_experience.png" alt="">
                                        <p>Experience <br> & Product</p>
                                </div>
                                <img src="http://lab.diogorusso.com/new-site//lib/imgs/site/bio/img_resp/791/R_bio_bg.jpg" alt="">
                        </div>
                        <div class="skill-wrap">
                                <div class="skill">
                                        <img src="http://lab.diogorusso.com/new-site//lib/imgs/site/bio/skill_01_experience.png" alt="">
                                        <p>Experience <br> & Product</p>
                                </div>
                                <img src="http://lab.diogorusso.com/new-site//lib/imgs/site/bio/img_resp/791/R_bio_bg.jpg" alt="">
                        </div>
                </div>
            </div>
            <div class="description" style="margin: 5rem 0;">
                    <h1>I'm a designer, artist and storyteller</h1>
                    <h2>an optimist dedicated to help bringging ideas to life.</h2>
                    <a href="#bio" class="button">full profile</a>
            </div>
        </div>
    </div>