<!DOCTYPE html>
<html lang="en">

  {% include head.html %}

  <body>
      <section class="menu-section">
          <nav class="primary-menu single-primary-menu-left">
            <ul>
              <li><a href="">item-1</a></li>
              <li><a href="">item-2</a></li>
              <li><a href="">item-3</a></li>
              <li><a href="">item-4</a></li>
              <li><a href="">item-5</a></li>
              <li><a href="">item-6</a></li>
            </ul>
          </nav>
          </section>
      {{ content }}
  </body>
</html>


