<!DOCTYPE html>
<html lang="en">
  {% include head.html %}
  <body>
    {% include containers/nav/basic.html %}
    {% include components/preloader.html %}
    <main>
        {{ content}}
    </main>
    {% include containers/footer.html %}
    {% comment %}  
      CSS block render fix
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/7.0.0/normalize.min.css">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery.swipebox/1.4.4/css/swipebox.min.css" />
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.css">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick-theme.min.css">
    {% endcomment %}
    <link rel="stylesheet" type="text/css" href="{{site.url}}{{site.baseurl}}assets/style.css">
    {% include script.html %}
  </body>
</html>


