---
layout: fullwidth
---
<div class="header">
    <h1 style="margin:0;">Tools & Resources</h1>
    <h3 style="font-family:proxima-nova-soft;">
        I collect TUTORIALS, RESOURCES and all kinds of LINKS,
        then I organize everything in ARTICLES, making easier to LEARN and BUILD ANYTHING
    </h3>
    
        <ul style="font-size:1.3rem;margin:0;padding:0">
            <li style="display: inline; padding-right:1rem;">
                <a href="{{ site.baseurl }}/test.html">Learn</a>
            </li>
            <li style="display: inline; padding-right:1rem;">
                <a href="{{ site.baseurl }}/test.html">Tools</a>
            </li>
            <li style="display: inline; padding-right:1rem;">
                <a href="{{ site.baseurl }}/test.html">Ideas</a>
            </li>
            <li style="display: inline; padding-right:1rem;">
                <a href="{{ site.baseurl }}/test.html">Lab</a>
            </li>
        </ul>
</div><!-- .header -->
<div class="cards">
    {% for post in site.posts %}
        <article class="card columns-3">
            <div class="card-body">
                <a href="{{ site.baseurl }}{{ post.url }}">
                    <img src="https://embedwistia-a.akamaihd.net/deliveries/d5ae8190f0aa7dfbe0b01f336f29d44094b967b5.jpg">
                    <div class="card-content">
                        <h3>{{ post.title }}</h3>
                        <p>JavaScript is a programming language that allows you to implement complex things on web pages</p>
                        <hr>
                        <small>{{ post.categories }}</small>
                    </div><!-- .card-content -->
                </a>
            </div><!-- .card-body -->
        </article><!-- .card -->
    {% endfor %}
</div>