---
layout: base/box
---

<header class="header padding-nav">
    <!-- <h1>
        LEARN, BUILD and SHARE
    </h1> -->
    <h2>
    I collect, create and share  STORIES, IDEAS, TUTORIALS,TOOLS<br> and all kind of RESOURCES to learn, have fun and get inspired.
    </h2>
    <ul>
            <li><a href="">Creative Office</a></li>
            <li><a href="">Design Lab</a></li>
            <li><a href="">Art Studio</a></li>
            {% for category in site.categories %}
            {% capture category_name %}{{ category | first }}{% endcapture %}
            <li>
                <a href="{{ site.baseurl }}/{{ category_name |  slugify: 'pretty' }}/">{{ category_name }}</a>
            </li>
            {% endfor %}
        </ul>
</header><!-- .section .header -->

<div class="grid-flex">
    {% for post in site.posts %}
        {% include card/post.html class="cols-3" %}
    {% endfor %}
</div>


