html,
body {
  margin: 0;
  padding: 0;
}

html {
  // font-size: 18px;
  font-family: $font-sans-serif;
  color: $dark;
  font-style: normal;
  text-rendering: optimizeLegibility;
  line-height: normal;
}

body {
  background-color: $site-bg;
}

* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

*:focus {outline: none;}

