* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
}

html {
  // font-size: 18px;
  font-family: $font-sans-serif;
  color: $dark;
  font-style: normal;
  text-rendering: optimizeLegibility;
}



body {
  background-color: $site-bg;
}

svg {
  width:100%;
  height: auto;
}

a {
  color: $dark;
  text-decoration: underline;
}

a:hover, a:focus {
  text-decoration: none;
}

// Images
img {
  display: block;
  width: 100%;
}

