@mixin box ($width){
    padding: 0 $gutter;
    height: 100%;
    position: relative;
    max-width: $width;
    margin: 0 auto;    
}

.box{
    @include box(1440px)    
}

.box-sm{
    @include box(1024px)    
}


@media #{$device-small} {
    .box{
        padding: 0 1rem;
    }
}
