.masthead{
  height:100vh;
  width: 100%; 
  background-size:cover;
  background-position: center;
  display: flex;
  color: white;
  text-align: center;
  .masthead-wrap{
    padding: 0 1rem;
  }
  a{
    color: $light;
    text-decoration: none;
  }
  h1{
    font-size: 3rem;
  }

  h2{
    font-family: "proxima-soft",sans-serif;
    font-size: 2rem;
    font-weight: lighter;
  }
}

@media #{$device-small} {
  .masthead{
    text-align: center;
    .masthead-wrap{
      max-width:375px;
    }
    h1{
      font-size: 2rem;
    }
  
    h2{
      font-size: 1.35rem;
      font-weight: lighter;
    }
  }
}


// overlay 
// .masthead::before {
//   content:"";
//   display: block;
//   height: 100%;
//   position: absolute;
//   top: 0;
//   left: 0;
//   width: 100%;
//   z-index: 1;
//   background-color: rgba(0, 0, 0, .6);
// }


.center-content{
  max-width: 800px;
  // display: flex;
  // flex-direction: column;
  // align-items: center;
  margin: auto;
  z-index: 2;
}

#scroll-arrow {
  width: 14px;
  display: block;
  margin: 10px auto;
  animation: scroll .35s ease-in alternate infinite;
}

@keyframes scroll {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(10px);
  }
}
