.nav{
	width: 100%;
	position: fixed;
	display: flex;
	flex-flow: row nowrap;
    top: 0;
    left: 0;
	will-change: transform;
	transition: transform .35s, -webkit-transform .35s;
	min-height: 55px;
    background-color: $nav-bg;
	box-shadow: 0px 2px 40px 0px $mid-light;
	z-index: 999;

	.logo{
		padding-top: .5rem;
        padding-left: .5rem;
	}

	ul {
		list-style-type: none;
		padding: 0;
		margin: 0;
		width: 100%;
		padding-right: $gutter/3;
		display: flex;
		flex-wrap: wrap;
		justify-content: flex-end;
	}
	
	li a {
		display: block;
		text-decoration: none;
		// color: white;
		padding: 1.1rem 1.25rem 0 1rem;
        border-bottom: solid 2px transparent;
        height: 100%;
	}
	
	li .active{
		border-bottom: solid;
	}

}

.is-hidden {
    -webkit-transform: translateY(-100%);
        -ms-transform: translateY(-100%);
            transform: translateY(-100%);
  }

.slide-up {
-webkit-transform: translateY(-60px);
-ms-transform: translateY(-60px);
	transform: translateY(-60px);
}

@media #{$device-x-small} {
	.nav li a {
		padding: 1.1rem .6rem 0 1rem;
	}
}
