
// devices
$device-small:"screen and (max-width: 767px)";
$device-medium: "screen and (max-width: 1023px) and (min-width:768px)";
$device-medium-small: "screen and ( max-width: 1023px)";
$device-large:"screen and (min-width: 1024px)";

// fonts
$font-serif: "Roboto Slab",serif;
$font-sans-serif: "Varela Round", sans-serif;

// colors
$dark: black;
$mid: rgba( $dark, .65 );
$mid-light: rgba( $dark, .15 );
$light: white;

$site-bg: $light; //#FCFCFC;
$nav-bg: $light;//rgba( $light, .9 );
$card-shadow: rgba( $dark, .06 );


// layout
$gutter: 3rem;
$box: 95%;