---
layout: default
---
<div class="box-sm post-learn">
    <section class="section intro">
        <h1>{{ page.title }}</h1>
        <div class="metadata">
            <p> 
                diogo russo •
                {% for category in page.categories %}
                    {% if forloop.last == false %}
                        {{ category }} •
                    {% else %}
                        {{ category }}
                    {% endif %}
                {% endfor %}
            </p>
        </div>
    </section>
    {% if page.cover != nill %}
    <header class="cover">
        <img src="{{ site.preloader }}" data-src="{{ site.cdn }}{{ page.cover }}">
    </header>
    {% endif %}
    <section class="section">
            <h3>
                    I'm a product designer, I help businesses, individuals and communities craft meaningful products. I like to collect LINKS, TOOLS and all kinds of RESOURCES to get inspired, LEARN and have fun.
                    <br><br>
                    Key Topics in this collection include: 
                    {% for topic in page.topics %} 
                        {% if forloop.last == false %}
                            <a href="#{{topic.topic | slugify}}" class="page-scroll">{{ topic.topic }}</a>,
                        {% else %}
                            <a href="#{{topic.topic | slugify}}" class="page-scroll">{{ topic.topic }}</a>.
                        {% endif %}
                    {% endfor %}
                </h3>
    </section>
    {% assign content = page.content | strip_newlines %}
    {% if content != "" %}
        <section class="section">
            {{ content }}
        </section>
    {% endif %}
    {% if page.links != "" %}
        {% for topic in page.topics %}
            <section id="{{topic.topic | slugify}}" class="section">
                <h1>{{ topic.topic }}</h1>
                <div id="notes" class="grid-flex" itemscope itemtype="http://schema.org/ImageGallery">
                    {% for note in topic.notes %}
                        {% include card/note.html %}
                    {% endfor %}
                </div>
                <div class="grid-flex">
                    {% for link in topic.links %}
                        {% include card/link.html %}
                    {% endfor %}
                </div>
            </section>
        {% endfor %}
    {% endif %}
    <section class="section">
        <h1>Read More</h1>
    </section>
    <section class="grid-flex">
        {% for post in site.posts  limit: 6 %}
            {% include card/post.html class="cols-2" %}
        {% endfor %}
    </section>
</div>
