.back-to-top {
    position: fixed;
    bottom: 10%;
    right: 0px;
    text-decoration: none;
    color: white;
    display: none;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    background: black;
}

.back-to-top a {
    color: white;
}

// @media #{$small-only} { 
// 	.back-to-top{
// 		display: none !important; 
// 	}
// }