// .masthead{
//     height:100vh;
//     width: 100%; 
//     // background-size:cover;
//     background-position: center;
//     display: flex;
// }

// .masthead::before {
//     content:"";
//     display: block;
//     height: 100%;
//     position: absolute;
//     top: 0;
//     left: 0;
//     width: 100%;
//     z-index: 1;
//     background-color: rgba(255, 255, 255, .6);
// }


.center-content{
    max-width: 600px;
    display: flex;
    flex-direction: column;
    // align-items: center;
    margin: auto;
    z-index: 2;
}

.masthead-sm{
    display: block;
    max-width: $box;
    margin: auto;
    padding-top: 75px; 
    h1{
        text-align: center;
    }
}

@media screen and ( max-width: 1000px) {
    .masthead{
        display: none;
    }
    .masthead-sm{
        display: block;
        max-width: $box;
        margin: auto;
        padding-top: 75px; 
        h1{
            text-align: center;
        }
    }
}
