<a id="bio"></a>
<div class="bio">
        <div class="bio-wrap">
                <div class="profile">
                        <img src="{% include img/loader.html %}"  data-src="{{ site.cdn }}about/diogo-russo.jpg" alt="{{site.title}}">
                        <noscript><img src="{{ site.cdn }}about/diogo-russo.jpg" alt="{{site.title}}"></noscript>
                </div>
                <div class="skills">
                        <div class="skills-wrap">
                                <div class="skill-wrap">
                                        <div class="skill">
                                                {% include img/d-sign.html %}
                                                {% comment %} <p>Experience<br>& Product</p> {% endcomment %}
                                        </div>
                                        {% include img/skills/skill-bg.html class="skill-bg " %}
                                </div>
                        </div> 
                </div>
                <div class="description">
                        <h2>I'm a designer, artist and storyteller</h2>
                        <h3>an optimist dedicated to help bringging ideas to life.</h3>
                        <br>
                        <a href="https://www.linkedin.com/in/diogorusso/?locale=en_US" class="button" target="_blank" rel="noopener">full profile</a>       
                </div>
        </div>
</div>
