<div class="bio">
        <div class="bio-wrap">
                <div class="profile">
                        <img src="{{ site.cdn }}/bio/R_profile.jpg" alt="">
                </div>
                <div class="skills">
                        <div class="skills-wrap">
                                <div class="skill-wrap">
                                        <div class="skill">
                                                <img src="{{ site.cdn }}/bio/skill_01_experience.png" alt="">
                                                <p>Experience
                                                        <br> & Product</p>
                                        </div>
                                        <img class="skill-bg" src="{{ site.cdn }}/bio/R_bio_bg.jpg" alt="">
                                </div>
                                <div class="skill-wrap">
                                        <div class="skill">
                                                <img src="{{ site.cdn }}/bio/skill_02_direction.png" alt="">
                                                <p>Experience
                                                        <br> & Product</p>
                                        </div>
                                        <img class="skill-bg" src="{{ site.cdn }}/bio/R_bio_bg.jpg" alt="">
                                </div>
                        
                                <div class="skill-wrap">
                                        <div class="skill">
                                                <img src="{{ site.cdn }}/bio/skill_03_web.png" alt="">
                                                <p>Experience
                                                        <br> & Product</p>
                                        </div>
                                        <img class="skill-bg" src="{{ site.cdn }}/bio/R_bio_bg.jpg" alt="">
                                </div>
                                <div class="skill-wrap">
                                        <div class="skill">
                                                <img src="{{ site.cdn }}/bio/skill_04_graphics.png" alt="">
                                                <p>Experience
                                                        <br> & Product</p>
                                        </div>
                                        <img class="skill-bg" src="{{ site.cdn }}/bio/R_bio_bg.jpg" alt="">
                                </div>
                        </div>
                </div>
                <div class="description" style="margin: 5rem 0;">
                        <h1>I'm a designer, artist and storyteller</h1>
                        <h2>an optimist dedicated to help bringging ideas to life.</h2>
                        {% include utils/btns-social.html %}
                        <a href="#bio" class="button btn-solid">full profile</a>       
                </div>
        </div>
</div>
