<div class="vs-img-pager">
    <div>
        <div class="process-icon">
            <img src="{{ site.cdn }}/process/step_0_icon.png" alt="">
        </div>
        <div style="min-height:55px;background:#50E3C2; text-align:center; padding:.75rem;">
            Process <br> & Methods
        </div>
    </div>
    <div>
        <div class="process-icon">
            <img src="{{ site.cdn }}/process/step_1_icon.png" alt="">
        </div>
        <div style="min-height:55px;background:#F8E71C; text-align:center; padding:.75rem;">
            Experience <br> & Learn
        </div>
    </div>
    <div>
            <div class="process-icon">
                <img src="{{ site.cdn }}/process/step_2_icon.png" alt="">
            </div>
            <div style="min-height:55px;background:#BD71FF; text-align:center; padding:.75rem;">
                Document <br> & Share
            </div>
        </div>
        <div>
            <div class="process-icon">
                <img src="{{ site.cdn }}/process/step_3_icon.png" alt="">
            </div>
            <div style="min-height:55px;background:#4A90E2; text-align:center; padding:.75rem;">
                Prototype <br> & Validate
            </div>
        </div>
        <div>
                <div class="process-icon">
                    <img src="{{ site.cdn }}/process/step_4_icon.png" alt="">
                </div>
                <div style="min-height:55px;background:#F5A623; text-align:center; padding:.75rem;">
                    Design <br> & Launch
                </div>
            </div>
            <div>
                <div class="process-icon">
                    <img src="{{ site.cdn }}/process/step_5_icon.png" alt="">
                </div>
                <div style="min-height:55px;background:#f14b4b; text-align:center; padding:.75rem;">
                    Connect <br> & Inspire
                </div>
            </div>
</div>
<div class="vs-img-slider">
    <div style="background:#50E3C2;">
            <div class="step-wrap">
                <div class="step-content center-content">
                        <h1>
                                I'm Diogo Russo
                            </h1>
                            <h3>
                                I help businesses, individuals and communities craft meaningful
                                <span class="txt-rotate" data-period="1000" data-rotate="[ &quot;PRODUCTS&quot;, &quot;EXPERIENCES&quot;,&quot; MEMORIES&quot;, &quot; RELATIONSHIPS&quot;]"><span class="wrap">EXPERIENCES</span></span>
                            </h3>
        
                </div>
                <div class="step-img-wrap">
                    <img src="{{ site.cdn }}/process/step_0.jpg" alt="">
                </div>
            </div>
    </div>
    <div style="background:#F8E71C;">
            <div class="step-wrap">
                <div class="step-content center-content">
                        <h1>
                                I'm Diogo Russo
                            </h1>
                            <h3>
                                I help businesses, individuals and communities craft meaningful
                                <span class="txt-rotate" data-period="1000" data-rotate="[ &quot;PRODUCTS&quot;, &quot;EXPERIENCES&quot;,&quot; MEMORIES&quot;, &quot; RELATIONSHIPS&quot;]"><span class="wrap">EXPERIENCES</span></span>
                            </h3>

                </div>
                <div class="step-img-wrap">
                    <img src="{{ site.cdn }}/process/step_1.jpg" alt="">
                </div>
            </div>
    </div>
    <div style="background:#BD71FF;">
            <div class="step-wrap">
                <div class="step-content center-content">
                        <h1>
                                I'm Diogo Russo
                            </h1>
                            <h3>
                                I help businesses, individuals and communities craft meaningful
                                <span class="txt-rotate" data-period="1000" data-rotate="[ &quot;PRODUCTS&quot;, &quot;EXPERIENCES&quot;,&quot; MEMORIES&quot;, &quot; RELATIONSHIPS&quot;]"><span class="wrap">EXPERIENCES</span></span>
                            </h3>
        
                </div>
                <div class="step-img-wrap">
                    <img src="{{ site.cdn }}/process/v1517096487/step_2.jpg" alt="">
                </div>
            </div>
    </div>
    <div style="background:#4A90E2;">
            <div class="step-wrap">
                <div class="step-content center-content">
                        <h1>
                                I'm Diogo Russo
                            </h1>
                            <h3>
                                I help businesses, individuals and communities craft meaningful
                                <span class="txt-rotate" data-period="1000" data-rotate="[ &quot;PRODUCTS&quot;, &quot;EXPERIENCES&quot;,&quot; MEMORIES&quot;, &quot; RELATIONSHIPS&quot;]"><span class="wrap">EXPERIENCES</span></span>
                            </h3>
        
                </div>
                <div class="step-img-wrap">
                    <img src="{{ site.cdn }}/process/step_3.jpg" alt="">
                </div>
            </div>
    </div>
    <div style="background:#F5A623;">
            <div class="step-wrap">
                <div class="step-content center-content">
                        <h1>
                                I'm Diogo Russo
                            </h1>
                            <h3>
                                I help businesses, individuals and communities craft meaningful
                                <span class="txt-rotate" data-period="1000" data-rotate="[ &quot;PRODUCTS&quot;, &quot;EXPERIENCES&quot;,&quot; MEMORIES&quot;, &quot; RELATIONSHIPS&quot;]"><span class="wrap">EXPERIENCES</span></span>
                            </h3>
        
                </div>
                <div class="step-img-wrap">
                    <img src="{{ site.cdn }}/process/step_4.jpg" alt="">
                </div>
            </div>
    </div>
    <div style="background:#f14b4b;">
            <div class="step-wrap">
                <div class="step-content center-content">
                        <h1>
                                I'm Diogo Russo
                            </h1>
                            <h3>
                                I help businesses, individuals and communities craft meaningful
                                <span class="txt-rotate" data-period="1000" data-rotate="[ &quot;PRODUCTS&quot;, &quot;EXPERIENCES&quot;,&quot; MEMORIES&quot;, &quot; RELATIONSHIPS&quot;]"><span class="wrap">EXPERIENCES</span></span>
                            </h3>
        
                </div>
                <div class="step-img-wrap">
                    <img src="{{ site.cdn }}/process/step_5.jpg" alt="">
                </div>
            </div>
    </div>
</div>
