<div class="process-pager-slider">
    <div>
        <div class="step1 process-pager">
            Process <br> & Tools
        </div>
    </div>
    <div>
        <div class="step2 process-pager">
            Experience <br> & Learn
        </div>
    </div>
    <div>
        
        <div class="step3 process-pager">
            Document <br> & Share
        </div>
    </div>
    <div>
        <div class="step4 process-pager">
            Prototype <br> & Validate
        </div>
    </div>
    <div>
        <div class="step5 process-pager">
            Design <br> & Launch
        </div>
    </div>
</div>
<div class="process-slider">
    <div class="step1">
            <div class="step-wrap">
                <div class="step-content center-slide">
			        <h1>I use design thinking and creative problem solving methods to explore and embrace new ideas.</h1>
                </div>
                <div class="step-img-wrap">
                    <img src="{% include img/loader-process.html %}" data-src="{{ site.cdn }}about/process/process-001.jpg" alt="">
                </div>
            </div>
    </div>
    <div class="step2">
            <div class="step-wrap">
                <div class="step-content center-slide">
                    <h1>I conduct interviews and research projects with internal and external stakeholders. </h1>
                </div>
                <div class="step-img-wrap">
                    <img src="{% include img/loader-process.html %}" data-src="{{ site.cdn }}about/process/process-002.jpg" alt="{{site.title}}.{{site.description}}">
                </div>
            </div>
    </div>
    <div class="step3">
            <div class="step-wrap">
                <div class="step-content center-slide">
                    <h1>I create detailed and delightful infographics, reposts, documents and presentations </h1>
                </div>
                <div class="step-img-wrap">
                    <img src="{{ site.cdn }}about/process/loader.svg" data-src="{{ site.cdn }}about/process/process-003.jpg" alt="{{site.title}}">
                </div>
            </div>
    </div>
    <div class="step4">
            <div class="step-wrap">
                <div class="step-content center-slide">
                    <h1>I create prototypes and experiments to refine ideas through continuous feedback loops.</h1>
                </div>
                <div class="step-img-wrap">
                    <img src="{% include img/loader-process.html %}" data-src="{{ site.cdn }}about/process/process-004.jpg" alt="{{site.title}}">
                </div>
            </div>
    </div>
    <div class="step5">
            <div class="step-wrap">
                <div class="step-content center-slide">
                    <h1>I design experiences, products and graphics for business, individuals and communities.</h1>
                </div>
                <div class="step-img-wrap">
                    <img src="{% include img/loader-process.html %}" data-src="{{ site.cdn }}about/process/process-005.jpg" alt="{{site.title}}">
                </div>
            </div>
    </div>
</div>
