<div id="vs-img-slider">
        <div class="vs-img-pager">
            <div>
                <div class="process-icon">
                    <img src="http://hello.diogorusso.com/lib/imgs/site/process_steps/step_0_creativity_icon.png" alt="">
                </div>
                <div style="min-height:55px;background:#50E3C2; text-align:center; padding:.75rem;">
                   process <br> & methods
                </div>
            </div>
            <div>
                <div class="process-icon">
                    <img src="http://hello.diogorusso.com/lib/imgs/site/process_steps/step_0_creativity_icon.png" alt="">
                </div>
                <div style="min-height:55px;background:#F8E71C; text-align:center; padding:.75rem;">
                    process <br> & methods
                </div>
            </div>
            <div>
                    <div class="process-icon">
                        <img src="http://hello.diogorusso.com/lib/imgs/site/process_steps/step_0_creativity_icon.png" alt="">
                    </div>
                    <div style="min-height:55px;background:#BD71FF; text-align:center; padding:.75rem;">
                       process <br> & methods
                    </div>
                </div>
                <div>
                    <div class="process-icon">
                        <img src="http://hello.diogorusso.com/lib/imgs/site/process_steps/step_0_creativity_icon.png" alt="">
                    </div>
                    <div style="min-height:55px;background:#4A90E2; text-align:center; padding:.75rem;">
                        process <br> & methods
                    </div>
                </div>
                <div>
                        <div class="process-icon">
                            <img src="http://hello.diogorusso.com/lib/imgs/site/process_steps/step_0_creativity_icon.png" alt="">
                        </div>
                        <div style="min-height:55px;background:#F5A623; text-align:center; padding:.75rem;">
                           process <br> & methods
                        </div>
                    </div>
                    <div>
                        <div class="process-icon">
                            <img src="http://hello.diogorusso.com/lib/imgs/site/process_steps/step_0_creativity_icon.png" alt="">
                        </div>
                        <div style="min-height:55px;background:#f14b4b; text-align:center; padding:.75rem;">
                            process <br> & methods
                        </div>
                    </div>
        </div>
    <div class="vs-img-slider">
        <div style="background:#50E3C2; min-height:335px;">
                <div style="display:flex; margin:auto; max-width:70%; margin-top:3rem;">
                        <div class="center-content" style="width:50%;">
                                <h1>
                                        I'm Diogo Russo<br class="show-for-small-only">
                                    </h1>
                                    <h3>
                                        I help businesses, individuals and communities craft meaningful<br class="show-for-small-only">
                                        <span class="txt-rotate" data-period="1000" data-rotate="[ &quot;PRODUCTS&quot;, &quot;EXPERIENCES&quot;,&quot; MEMORIES&quot;, &quot; RELATIONSHIPS&quot;]"><span class="wrap">EXPERIENCES</span></span>
                                    </h3>
                                    <br>
                                    <a href="#bio" class="button round large btn-outline-white page-scroll">check it out <i class="fa fa-chevron-down" aria-hidden="true"></i></a>
        
                        </div>
                        <div>
                            <img src="http://hello.diogorusso.com/lib/imgs/site/process_steps/step_0_creativity_img.jpg" style="width:auto;" alt="">
                        </div>
                </div>
                
        </div>
        <div style="background:#F8E71C; min-height:335px;">
            <h1>hello</h1>
        </div>
        <div style="background:#BD71FF; min-height:335px;">
            <h1>hello</h1>
        </div>
        <div style="background:#4A90E2; min-height:335px;">
            <h1>hello</h1>
        </div>
        <div style="background:#F5A623; min-height:335px;">
            <h1>hello</h1>
        </div>
        <div style="background:#f14b4b; min-height:335px;">
            <h1>hello</h1>
        </div>
    </div>
</div>