<div class="box">
        <div class="work">
                <h1>Work & Play</h1>
                <h2>I have fun inventing projects, making things,<br> sharing resources and ideas.</h2>
        </div>

        <div class="grid-flex">
                {% include containers/card/portfolio.html 
                        url="https://www.behance.net/gallery/36828271/LaunchPad" 
                        title="Experience and Product" 
                        category="UI/UX, Product Design" 
                        thumb="launchpad-w624h351.jpg" 
                %}
                {% include containers/card/portfolio.html 
                        url="https://www.behance.net/gallery/22949811/FWC-2014-Coca-Cola" 
                        title="Creative Direction" 
                        category="Creative Direction, Film, Photography" 
                        thumb="Coca-Cola_FWC_14-w624h351.jpg" 
                %}
                {% include containers/card/portfolio.html 
                        url="https://www.behance.net/gallery/38479985/Kenner-IxD-Motion" 
                        title="Web and Graphics" 
                        category="Creative Direction, Interaction Design" 
                        thumb="Kenner_Music_case-w624h351.jpg" 
                %}
                {% include containers/card/portfolio.html 
                        url="https://www.behance.net/gallery/36828873/FOODTOPIA" 
                        title="Illustration and Art" 
                        category="UI/UX, Product Design" 
                        thumb="foodtopia-w624h351.jpg" 
                %}
                {% include containers/card/portfolio.html 
                        url="https://www.behance.net/gallery/38488527/Webdesign-for-Business" 
                        title="Wordpress for Business" 
                        category="UI/UX, Web Design" 
                        thumb="website-w624h351.jpg" 
                %}
                {% include containers/card/portfolio.html 
                        url="https://www.behance.net/gallery/23074515/Escola-SESC-ID" 
                        title="SESC School ID" 
                        category="Branding, Graphic Design" 
                        thumb="escola_Sesc-w624h351.jpg" 
                %}
        </div>
</div>